conda create --name hybridgrag python=3.9 -y
conda activate hybridgrag

conda install pytorch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 pytorch-cuda=11.8 -c pytorch -c nvidia

pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.0.1+cu118.html
pip install peft
pip install pandas
pip install FlagEmbedding
pip install transformers
pip install torch_geometric
pip install datasets
pip install faiss-cpu
pip install pyserini